<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>accordion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum Seculorum, asjdajsdasjdasjdsajadsjads
        asdasda
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum Seculorum, asjdajsdasjdasjdsajadsjads
        asdasda
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum Seculorum, asjdajsdasjdasjdsajadsjads
        asdasda
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
